<a href="https://colab.research.google.com/github/afraniofilho/6Sigma/blob/main/LOC_e_ILOC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
cars = {'Brand' : ['Honda Civic', 'Toyota Corolla', 'Ford Focus', 'Audi A4'],
        'Price' : [22000, 25000, 27000, 35000],
        'Quality': [800, 750, 900, 900]}

In [3]:
type(cars)

dict

In [4]:
import pandas as pd

In [6]:
df = pd.DataFrame(cars, columns = ['Brand', 'Price', 'Quality'])

In [7]:
df

            Brand  Price  Quality
0     Honda Civic  22000      800
1  Toyota Corolla  25000      750
2      Ford Focus  27000      900
3         Audi A4  35000      900

In [8]:
df.loc[0, 'Brand']

'Honda Civic'

In [9]:
df.loc[0]

Brand      Honda Civic
Price            22000
Quality            800
Name: 0, dtype: object

In [10]:
df

            Brand  Price  Quality
0     Honda Civic  22000      800
1  Toyota Corolla  25000      750
2      Ford Focus  27000      900
3         Audi A4  35000      900

In [15]:
df2 = df.loc[2:3, ['Brand', 'Quality']]

In [16]:
df2

        Brand  Quality
2  Ford Focus      900
3     Audi A4      900

In [17]:
# Selecionar os registros com 'Quality' > 800

In [22]:
df3 = df.loc[df['Quality'] > 800]

In [23]:
df3

        Brand  Price  Quality
2  Ford Focus  27000      900
3     Audi A4  35000      900

In [24]:
# Selecionar os registros em que o 'Price'seja maior do que 30000 e o 'Quality' seja maior do que 800

In [27]:
df4 = df.loc[(df['Price'] > 30000) & (df['Quality'] > 800)]

In [28]:
df4

     Brand  Price  Quality
3  Audi A4  35000      900

In [29]:
df

            Brand  Price  Quality
0     Honda Civic  22000      800
1  Toyota Corolla  25000      750
2      Ford Focus  27000      900
3         Audi A4  35000      900

In [30]:
# Selecionar os registros em que o 'Brand'seja 'Ford Focus'ou 'Toyota Corolla'

In [32]:
df.loc[(df['Brand'] == 'Ford Focus') | (df['Brand'] == 'Toyota Corolla') & (df['Quality'] > 800)]

        Brand  Price  Quality
2  Ford Focus  27000      900

In [35]:
df.loc[df.Brand == 'Ford Focus', 'Quality']

2    900
Name: Quality, dtype: int64

In [36]:
df

            Brand  Price  Quality
0     Honda Civic  22000      800
1  Toyota Corolla  25000      750
2      Ford Focus  27000      900
3         Audi A4  35000      900

In [37]:
df.iloc[1,2]

750

In [38]:
df.iloc[3]

Brand      Audi A4
Price        35000
Quality        900
Name: 3, dtype: object

In [39]:
df

            Brand  Price  Quality
0     Honda Civic  22000      800
1  Toyota Corolla  25000      750
2      Ford Focus  27000      900
3         Audi A4  35000      900

In [40]:
df.drop(1, inplace = True)

In [41]:
df

         Brand  Price  Quality
0  Honda Civic  22000      800
2   Ford Focus  27000      900
3      Audi A4  35000      900

In [42]:
df.iloc[1]

Brand      Ford Focus
Price           27000
Quality           900
Name: 2, dtype: object

In [48]:
df.reset_index(drop = True, inplace = True)

In [49]:
df

         Brand  Price  Quality
0  Honda Civic  22000      800
1   Ford Focus  27000      900
2      Audi A4  35000      900

In [50]:
df.loc[2]

Brand      Audi A4
Price        35000
Quality        900
Name: 2, dtype: object